@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,400;0,700;1,100;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500;600&display=swap');

/* -> Global <--------------- */
:root{
 --theme-color: #00a583;
 
 --title-black: #4d4d4db6;
 --subtitle-black: #4d4d4db6;
 --title-green: #00b5bf;
 --red: #ff5b5b;
 --grey: #505050af;

}


* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    outline:none;
}

html {
    font-size: 93.75%;
}
body {
    background: #d9dee6;
    font-family: 'Poppins', "sans-serif ";
}


.sr-only{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border-width: 0;
}


/* BUTTON */
.btn{
	border-radius: .25rem;
	outline: none;
    border: none;
    background-image: linear-gradient(to right, #32be8f, #38d39f, #32be8f);
	background-size: 200%;
	font-size: 1.2rem;
	color: #fff;
	margin: 1rem 0;
	cursor: pointer;
	transition: .5s;
}



/* LOGO */
div.logo{
	display: flex;
	justify-content: center;
	align-items: center;
	color:white;

	font-family: 'Quicksand', sans-serif;
	font-size: 2rem;

	margin-bottom: none;
	padding-bottom: none;
	overflow: hidden;
	animation: hidden-move .5s;
}

h1.logo1{
    color: #ff9339;
    letter-spacing: 4px;
    font-weight: 600;
    overflow: hidden;
    animation: fade .25s;

}
h1.logo2{
    padding-top: 22px;
    position: relative;
    letter-spacing: 8px;
    font-weight: 500;
    overflow: hidden;
    animation: move .25s;
    font-size: 26px;
}
	


/* INPUT EFFECTS */

.data-input{
    margin-top: 1.6rem;
    height: 40px;
    width: 100%;
    position:relative;
}

.data-input input {
    height: 100%;
    width: 100%;
    border: none;
    border-bottom: 2px solid silver
}

.data-input input:focus ~ label,
.data-input input:valid ~ label {
    transform: translateY(-30px);
    font-size: .9rem;
    font-weight: bold;
}

.data-input label {
    position: absolute;
    bottom: 10px;
    left: 2px;
    color: grey;
    pointer-events: none;
    transition: all 0.3s ease;
    font-size: .8rem;
}

.data-input .underline {
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 100%;
}

.data-input .underline:before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background: var(--theme-color);
    transform: scaleX(0);
    transition: transform 0.3s ease;
}


.data-input input:focus ~ .underline:before,
.data-input input:valid ~ .underline:before {
    transform: scaleX(1);
}

